name: ATQC automation tests

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven

        # Here we should select property file (STAGE_CI_CONFIG or DEV_CI_CONFIG) depends on profile      
      - name: Get valid properties
        env:
          ENV_CONFIG: ${{ secrets.STAGE_CI_CONFIG }}
        run: echo $ENV_CONFIG > $(pwd)/src/main/resources/config.properties
        
      - name: Run tests
        run: mvn clean test -Dsuite=regression.xml -P stage
      
      - name: Generate allure report
        run: mvn allure::report
      
      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: .target/allure-report
